.App {
  text-align: center;
  list-style-type: none;
}

.register-wrapper{
  margin-top: 150px;
}

.form-group{
  line-height: 225%;
}

.button{
  margin-left: 10px;
}

li{
  list-style-type: none;
}

.slick-image{
  margin-top: 100px;
}

.slick-image img{
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite .5s linear;
  height: 80px;
}

.App-header {
  font-family: 'VT323', monospace;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #F2C14E;
}

#header{
  color: orange;
}

.product-wrapper{
  margin-top: 200px;
}

.list{
  list-style-type: none;
}

.student{
  font-size: 20px;
  color: magenta;
  animation: App-logo-spin infinite .5s ease-in-out;
  transform-origin: center;
}

body{
  text-align: center;
  font-family: 'VT323', monospace;
  /* background-color: lime; */
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.float-right{
  float: right;
}

.dropdown{
  position: relative;
}

.dropdown .dropdown-links{
  display: none;
}

.dropdown:hover .dropdown-links{
  display: block;
}

.dropdown-links a{
  display: block;
  position: absolute;
  top: 30px;
  background-color: #F8F8F8;
  border: 1px solid #999;
  width: 150px;
  color: #777;
}

.dropdown-links a:nth-child(1){
  top: 50px;
}

.dropdown-links a:nth-child(2){
  top: 70px;
}

.dropdown-links a:nth-child(3){
  top: 90px;
}

.dropdown-links a:nth-child(4){
  top: 110px;
}

.dropdown-links a:nth-child(5){
  top: 130px;
}

.dropdown-links a:hover{
  color: black;
  text-decoration: none;
}







